@{
    Layout = "~/_SiteLayout.cshtml";
    PageData["Title"] = "Subscribe";
}
<!--DEN HÄR SIDAN ANVÄNDS INTE ÄNNU.-->
<!--DEN ÄR ENBART TILL FÖR TESTNING.-->
<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Bli premium medlem!</h2>
</hgroup>
<section class="store">
    <header>
        <h3>Som premium medlem så får du äran att ge mig 50 kr i månaden.</h3>
    </header>
    <p>
        <span class="label">Erbjudande!:</span>
        <span>Få en nästan gratis special ost som endast är tillgängliga att köpa om man är premium medlem om du blir premium medlem idag!</span>
        <a href="store" class="storeb">Subscribe</a> 
        
    </p>
    <p> </p>
    </section>
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
