@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Kontakta oss inte efter eller innan 00:00.</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>123-456-789</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>987-654-321</span>
    </p>
</section>
    <section class="contact">
        <header>
            <h3>Skype:</h3>
        </header>
        <p>
            <span class="label">Skype:</span>
            <span>GalenOst</span>
        </p>
    </section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:OstSupport@example.com">OstSupport@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:OstMarketing@example.com">OstMarketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:OstGeneral@example.com">OstGeneral@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>