@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "GalenOst";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Här kan du köpa några av de mest sällsynta och välsmakande ostarna i världen.</h2>
        </hgroup>
        <p>
            Hemsidan är inte färdigstald ännu.
            Jag är galen!
        </p>
    </div>
</section>
}

<h3>Guide till hemsidan:</h3>

<ol class="round">
    <li class="one">
        <h5>Steg 1</h5>
        Det här är en galen hemsida, börja med att skapa ett konto.
        <a href="http://localhost:50129/Account/Register">Tryck här för att skapa ett konto.</a>
    </li>

    <li class="two">
        <h5>Steg 2</h5>
        Gå in på knappen som heter store!.
        <a href="http://localhost:50129/Store">Store</a>
    </li>

    <li class="three">
        <h5>Steg 3</h5>
        Tryck på den proukt du vill köpa och sen så ger du mig dina pengar!

        För att bli premium medlem tryck <a href="http://localhost:50129/Buysub">Här.</a>
    </li>
</ol>

