@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="stylesheet.css"/> <!-- Länk till css -->
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div class= "Wrapper">
        <div class="Menywrapper">
        <ul>
                    <li class= "Linkreg"><a href="index.cshtml">Home</a></li>
                    <li class= "Linkreg"><a href="Register.cshtml">Register</a></li>
                    <li class= "Linkreg"><a href="Login.cshtml">Login</a></li>
                </ul>
            </div>
        <div class="Contentwrapper">
             <h1></h1>
               <h1></h1>
            </div>
            </div>
        
    </body>
</html>
